<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iothomeautomation.iothomeautomation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listviewTemp">
            android:label="Temperature and Humidity"
            <intent-filter>
                <action android:name="com.iothomeautomation.iothomeautomation.listviewTemp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RFView">
            <intent-filter>
                android:label="User logs"

                <action android:name="com.iothomeautomation.iothomeautomation.RFView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RFinsertData" />
        <activity android:name=".RFdelete" />
        <activity android:name=".keyPadView">
            <intent-filter>
                <action android:name="com.iothomeautomation.iothomeautomation.keyPadView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ApplianceControlActivity">
            <intent-filter>
                <action android:name="om.iothomeautomation.iothomeautomation.ApplianceControlActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>